body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1f2937;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: #374151;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background:black;
}

.main {
  flex: 1;
  padding: 20px
}


.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
}